
.vs/Patient handling/DesignTimeBuild/.dtbcache.v2
Patient handling/obj/project.nuget.cache
Patient handling/obj/project.assets.json
Patient handling/obj/Patient handling.csproj.nuget.g.props
Patient handling/obj/Patient handling.csproj.nuget.dgspec.json
Patient handling/obj/Debug/net7.0-windows/Patient handling.pdb
Patient handling/obj/Debug/net7.0-windows/Patient handling.genruntimeconfig.cache
Patient handling/obj/Debug/net7.0-windows/Patient handling.GeneratedMSBuildEditorConfig.editorconfig
Patient handling/obj/Debug/net7.0-windows/Patient handling.dll
Patient handling/obj/Debug/net7.0-windows/Patient handling.csproj.GenerateResource.cache
Patient handling/obj/Debug/net7.0-windows/Patient handling.csproj.FileListAbsolute.txt
Patient handling/obj/Debug/net7.0-windows/Patient handling.csproj.CoreCompileInputs.cache
Patient handling/obj/Debug/net7.0-windows/Patient handling.csproj.AssemblyReference.cache
Patient handling/obj/Debug/net7.0-windows/Patient handling.assets.cache
Patient handling/bin/Debug/net7.0-windows/Patient handling.pdb
Patient handling/bin/Debug/net7.0-windows/Patient handling.dll
Patient handling.Tests/obj/project.nuget.cache
Patient handling.Tests/obj/project.assets.json
Patient handling.Tests/obj/Patient handling.Tests.csproj.nuget.g.props
Patient handling.Tests/obj/Patient handling.Tests.csproj.nuget.dgspec.json
Patient handling.Tests/obj/Debug/net7.0-windows/Patient handling.Tests.GeneratedMSBuildEditorConfig.editorconfig
Patient handling.Tests/obj/Debug/net7.0-windows/Patient handling.Tests.csproj.AssemblyReference.cache
Patient handling.Tests/obj/Debug/net7.0-windows/Patient handling.Tests.assets.cache
Patient handling.Tests/bin/Debug/net7.0-windows/CoverletSourceRootsMapping
Medical visits.Tests/obj/project.nuget.cache
Medical visits.Tests/obj/project.assets.json
Medical visits.Tests/obj/Medical visits.Tests.csproj.nuget.g.props
Medical visits.Tests/obj/Medical visits.Tests.csproj.nuget.dgspec.json
Medical visits.Tests/obj/Debug/net7.0-windows/Medical visits.Tests.GeneratedMSBuildEditorConfig.editorconfig
Medical visits.Tests/obj/Debug/net7.0-windows/Medical visits.Tests.csproj.AssemblyReference.cache
Medical visits.Tests/obj/Debug/net7.0-windows/Medical visits.Tests.assets.cache
Medical visits.Tests/bin/Debug/net7.0-windows/CoverletSourceRootsMapping
.vs/ProjectEvaluation/patient handling.projects.v6.1
.vs/ProjectEvaluation/patient handling.metadata.v6.1
.vs/Patient handling/v17/.suo
.vs/Patient handling/v17/.futdcache.v2
.vs/Patient handling/FileContentIndex/ba36c741-da75-4080-8f69-944942a8b393.vsidx
.vs/Patient handling/FileContentIndex/9dd22075-625a-431a-87b2-95ad53cef08d.vsidx
.vs/Patient handling/FileContentIndex/8cf2b1f7-59b4-4e19-a30d-50dc29ed361b.vsidx
.vs/Patient handling/DesignTimeBuild/.dtbcache.v2
